@import "../../../../color-variables.scss";

.app-profile-card {
    position: relative;
    margin: auto;
    margin-top: -6.625rem ;  
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: $base-profile;

    border-radius: 10px;

    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

  
}

.image-container {

    width: 9.25rem;
    margin-left: 2.5rem;

    img{
        width: 100%;
        height: auto;
        object-fit: cover;
        display: block; 

        border-radius: 8px;
    }
}
.card-content{
    width: 100%;
}
.card-header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
    
}

a {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    color: $blue;
    font-size: 0.75rem;
    text-decoration: none;

    position: relative;

 }
 a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: $blue; 
    transition: width 0.3s ease;
  }

  a:hover::after {
    width: 100%; 
  }

.card-profile-details{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap:1.5rem;

    margin-top: 1.5rem;

    i {
        font-size: 1.125rem;
        color: $base-label;
    }
}