@import "../../../../color-variables.scss";

.app-post-card{
  
  
    display: flex;
    flex-direction: column;
  
    gap: 1.25rem;

    height: 16.25rem;
    max-width: 26rem;

    padding: 2rem;

    background-color: $base-post;
    border-radius: 10px;
    text-decoration: none;

    cursor: pointer;


   strong {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 130%;
    color: $base-title;
   }
}
.app-post-card:hover {
    border: 2px $base-label solid;
    }


.post-header {
    display: flex;
    flex-direction: row;
   
    justify-content: space-between;

    strong {
        flex: 1;
    }

    span {
        color: $base-span;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 160%;
    }
}

.text {
    display: -webkit-box;
    -webkit-line-clamp: 5; /* Limita a 5 linhas */
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden; /* Oculta o texto que ultrapassa as linhas permitidas */
    text-overflow: ellipsis; /* Adiciona reticências ao final do texto */
}

