<main class="app-home">
  <div class="content">
    <app-profile-card></app-profile-card>
    <section class="posts-section">
      <div class="section-header">
        <div class="details">
          <span>Publicações</span>
          <span>{{ totalPosts }} publicações</span>
        </div>
        <app-search-input (input)="onInputChange($event)"></app-search-input>
      </div>
      <div class="posts">
        @for( issue of issues; track issue.number){
        <app-post-card
          [title]="issue.title"
          [date]="issue.created_at"
          [text]="issue.body"
        ></app-post-card>

        }
      </div>
    </section>
  </div>
</main>
