<main class="app-home">
  <div class="content">
    <app-profile-card></app-profile-card>
    <section class="posts-section">
      <div class="section-header">
        <div class="details">
          <span>Publicações</span>
          <span>{{ totalPosts }} publicações</span>
        </div>
        <app-search-input (input)="onInputChange($event)"></app-search-input>
      </div>
      <div class="posts">
        @for( post of posts; track post.number){
        <app-post-card
          [title]="post.title"
          [date]="post.created_at"
          [text]="post.body"
          (click)="handleViewPost(post.number)"
        ></app-post-card>

        }
      </div>
    </section>
  </div>
</main>
